{% extends "base.html" %} {% block title %}Login{% endblock%}
{% block content %} 
<div class="content-section"><div class="container-home">
    <img class="mb-5 container-homeimg" src="{{url_for('static',filename='logo.png')}}" width="500px">
    <div class="container-form me-5">
        <form method="POST">
            <h1 align="center" class="border-bottom mb-4 align-left me-10 ms-10">Login</h1>
            <div class="form-group  me-10 ms-10">
                <label for="email">Email Address</label>
                <input 
                type="text" 
                id="email" 
                name="email" 
                class="form-control form-control-lg" 
                
                />
                <label for="password">Password</label>
                <input 
                type="password" 
                id="password" 
                name="password" 
                class="form-control form-control-lg" 
                
                />
                <br/>
                
                    <button class="btn btn-dark mb-10" type="submit">Login</button>
                 
                </button>
        
            </div> 
        </form>
        <div class="border-top pt-3 ms-10 me-10 mb-10"
        <small class="text-muted mb-10">
            Don't have an account? <a class="ml-2" href="{{ url_for('auth.sign_up') }}">Make an account</a>
        </small>
    </div>
    </div>
</div>
</div>
{% endblock %}